services:
 <node-name>:
  image: onefinity:testnet
  container_name: <node-name>
  restart: unless-stopped
  environment:
   - NODE_NAME=<node-name>
  volumes:
   - "./volumes/<node-name>/config/:/home/ubuntu/onefinity/config"
   - "./volumes/<node-name>/keys:/home/ubuntu/onefinity/keys"
   - "./volumes/<node-name>/working-dir/:/home/ubuntu/onefinity/working-dir"